* {
    margin:0;
    padding:0;
    color: var(--navy);
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --navy: #ffffff;
    --back: #1c2841; 
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-start;
    background-color: rgb(138, 138, 138);
    padding: 25px;
    font-size: 2.25em;
    font-weight: bolder;
}
.navbar img {
    order: -1;
    border: 5px #1c2841 solid;
    border-radius: 50%;
    width: 175px
}
.navbar ul li {
    align-items: center;
}
h1 {
   font-size: 2em;
   margin-top: 50px;
   margin-bottom: 1px;
   margin-left: 1em;
}
p {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 1em;
    font-size: 1.75em;
    max-width: 100%;
}
body { 
    margin: 0px;
    padding: 0px;
    background-color: #1c2841;
}
.navbar ul li {
    background-color: rgb(138, 138, 138);
    margin: 30px
   
}
.navbar ul li {
    display: flex;
}

.img-container {
    display: flex;
    flex-wrap: wrap;

}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.big-project img {
    width: 750px
}

.img-container div a {
    width: 50%;
}
 .img-container img{
    border-radius: 20%;
    display: flex;
    flexwrap: wrap;

}

.img-container div {
    width:25%
}

.small-project{
    width: 50%;
}

h3 {
    text-align: center;
    padding: 10px;
}
h3:hover {
    font-size: 110%;
}
div {
    /* border: 5px solid black; */
}
.small-project {
    display: flex;
    flex-direction: row-reverse;
}
.contact-container {
    background-color: #1c2841;
}
.contact-container ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 3em;
    font-weight: bolder;
    padding: 30px
}
a {
    text-decoration: none;
}
a:hover {
    background-color: #1c2841;
    font-size: 105%;
}
img:hover {
    cursor: pointer;
} 
html {
    scroll-behavior: smooth;
}
.text-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (max-width: 768px) {
    .navbar ul li {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        
      }   
      .text-container p {
        font-size: 1rem;
        max-width: 50%;
        margin-left: 0%;
        margin-right: auto;
        padding-left: 0rem;
        padding-right: 0rem;

    }}
@media (max-width: 768px) {
 }